<div class="modal-header">
    <h4 class="modal-title">{{'DELETREGISTER' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <h4><b>{{'AREYOUSURE' | translate}} {{name}}</b>? </h4>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="activeDelete(true)">{{'YES' | translate}}</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeDelete(false)">{{'CLOSE' | translate}}</button>
</div>