<nav class="navbar navbar-expand-sm navbar-dark header">
  <a class="navbar-brand" href="#">Teste Subway</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a> -->
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/pages/user">Git</a>
      </li> -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Iniciar Processo</a>
        <div class="dropdown-menu" aria-labelledby="dropdown03">
          <a class="dropdown-item" routerLink="/pages/person">Pessoa</a>
          <!-- <a class="dropdown-item" routerLink="/pages/sale">Venda</a> -->
          <a class="dropdown-item" routerLink="/pages/crediario">Conta</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


